results
.snakemake
.Rproj.user
3domics_mg.Rproj
renv/
renv.lock
.cache/
.ipynb_checkpoints/
.Rprofile
reports
resources/virify/
*.fai
*.gzi
mg_assembly.Rproj
resources/databases/genomad/genomad_db_v1.7/*
resources/databases/dram/20230811/*
resources/databases/virsorter2/*
