# Run tests over snakefile workflow
---
name: Tests

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main, devel]
  pull_request:
    branches: [main, devel]

env:
  CACHE_NUMBER: 0  # Increment this number to invalidate the cache

jobs:

  Pre-Commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: 'true'
      - name: Run pre-commit on all files
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  Testing:
    runs-on: ubuntu-latest
    needs:
      - Pre-Commit
    steps:

      - uses: actions/checkout@v4
        with:
          lfs: 'true'

      - name: Set up caches
        uses: actions/cache@v4
        with:
          path: |
            .snakemake/conda
            ~/.cache/pre-commit/
          key: snakemake-conda

      - name: Clean conda cache
        run: conda clean --all --yes

      - name: Test workflow - Preprocess
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            --use-conda
            --profile profile/default
            --show-failed-logs
            --cores 3
            --latency-wait 5
            preprocess__bowtie2__all
            preprocess__fastp__all
            preprocess__kraken2__all
            preprocess__nonpareil__all
            preprocess__multiqc

      - name: Test workflow - Assemble
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            --use-conda
            --profile profile/default
            --show-failed-logs
            --cores 3
            --latency-wait 5
            assemble__all

      - name: Test workflow - Prokaryotes - Cluster
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            --use-conda
            --profile profile/default
            --show-failed-logs
            --cores 3
            --latency-wait 5
            prokaryotes__cluster__all


      - name: Delete everything
        run: |
          sudo find results -not -name "*.log" -type f -delete -print


      - name: Test workflow - Dry run
        uses: snakemake/snakemake-github-action@v1
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            --use-conda
            --profile profile/default
            --cores 3
            --dry-run
            --printshellcmds

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: results
          path: |
            results/**/*.log
            # results/
            # reports/
            # !**/*.cram
            # !**/*.fq.gz
            # !**/*.bam
            # !**/*.bt2
