# Run tests over snakefile workflow
---
name: Tests

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main, devel]
  pull_request:
    branches: [main, devel]

env:
  CACHE_NUMBER: 0  # Increment this number to invalidate the cache

jobs:

  Pre-Commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: 'true'
      - name: Run pre-commit on all files
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files

  Testing:
    runs-on: ubuntu-latest
    needs:
      - Pre-Commit
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: 'true'

      - name: Set up caches
        uses: actions/cache@v3
        with:
          path: |
            .snakemake/conda
            ~/.cache/pre-commit/
          key: snakemake-conda-${{ env.CACHE_NUMBER }}

      - name: Create mock reads
        uses: mamba-org/setup-micromamba@v1
        environment-file: false
        environment-name: base
        condarc:
          channels:
            - conda-forge
            - bioconda
            - defaults
          channel_priority: strict
        with:
          extra-specs:
            seqtk
            pigz
        shell: bash -l {0}
        run: bash workflow/scripts/generate_mock_data.sh

      - name: Clean conda cache
        run: conda clean --all --yes

      - name: Test workflow - Preprocessing
        uses: snakemake/snakemake-github-action@v1.24.0
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            --use-conda
            --show-failed-logs
            --cores 3
            --conda-cleanup-pkgs cache
            --latency-wait 5
            pre

      - name: Test workflow - Assemble
        uses: snakemake/snakemake-github-action@v1.24.0
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            --use-conda
            --show-failed-logs
            --cores 3
            --conda-cleanup-pkgs cache
            --latency-wait 5
            assemble

      - name: Test workflow - Bin
        uses: snakemake/snakemake-github-action@v1.24.0
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: >
            --use-conda
            --show-failed-logs
            --cores 3
            --conda-cleanup-pkgs cache
            --latency-wait 5
            bin

      # - uses: actions/upload-artifact@v3
      #   if: failure()
      #   with:
      #     name: results
      #     path: |
      #       results/
      #       reports/
      #       !**/*.cram
      #       !**/*.fq.gz
      #       !**/*.bam
      #       !**/*.bt2
